@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.syne-font{
  font-family: "Syne", sans-serif;
}

.open-sans-font{
  font-family: "Open Sans", sans-serif;
}

.debug{
    border: 2px solid red;
}


.container{
  max-width: 1170px;
  margin: auto;
  padding: 0 375px;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #2AB8DB;
  border: none ;
  border-radius: 0; 
}

.swiper-pagination-bullet-active {
  background: #FFA8A7
}

.button{
  display: none;
}
/* ,.read_more_btn:hover */
.project_img:hover + .button, .button:hover + .read_more_btn {
  display: inline-block;
}

/* <div class="small-4 columns">
    <img src="/wp-content/themes/adamslaw/assets/img/woman.png">
    <a class="button" href="/jane/">View Jane's Profile</a>
</div> */