@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.syne-font{
  font-family: "Syne", sans-serif;
}

.open-sans-font{
  font-family: "Open Sans", sans-serif;
}

.debug{
    border: 2px solid red;
}


.container{
  max-width: 1220px;
  margin: auto;
}

@layer components {
  .hovered_services {
    @apply 
      group-hover:filter 
      group-hover:invert-[100%] 
      group-hover:sepia-[6%] 
      group-hover:saturate-[2275%] 
      group-hover:hue-rotate-[151deg] 
      group-hover:brightness-[0%] 
      group-hover:contrast-[90%];
  }
}


.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #2AB8DB;
  border: none ;
  border-radius: 0; 
}

.swiper-pagination-bullet-active {
  background: #FFA8A7
}

.button{
  display: none;
}

.project_img:hover + .button, .button:hover + .read_more_btn {
  display: inline-block;
}