@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

.syne-font{
  font-family: "Syne", sans-serif;
}

.debug{
    border: 2px solid red;
}




.banner_section{
  background-image: url(./assets/bannerImg.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  max-width: 1920px;
  margin: auto;
  height: 800px;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  /* background-color: #fff; */
  /* border: 2px solid red; */
  /* border-radius: 100%; */
  /* color: #2AB8DB; */
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #2AB8DB;
  border: none ;
  border-radius: 0; 
}

.swiper-pagination-bullet-active {
  background: #FFA8A7
}